{% extends "admin/haas/help.html" %}

{% block content %}
<h1>What is an Instance?</h1>

<p>Starting with the Postgres software, we have something similar to how programmers think of objects: instances. Classes are unusable until they're instantiated as an object (barring virtual classes, interfaces, and other special cases.) In this way, the Postgres software is just there, doing nothing, until there's an instance that's created and running. No Postgres databases can exist anywhere without an instance to hold them.</p>

<p>The primary job of an instance is to merely exist; by itself, a Postgres instance is not usable. Postgres instances are assigned a port number for traffic control purposes, so it's entirely possible to run multiple simultaneous instances on the same server. But otherwise, they don't contain tables, and they certainly are not a database. Within the context of a herd, an instance is one member of the herd, living in an environment.</p>

<h1>What Does MB Lag Mean?</h1>

<p>This field is provided to show how far behind the herd leader each particular instance might be. Most often, this value will simply be zero, as Postgres streaming is generally very efficient. However, in some cases, nonzero values can indicate an instance should be rebuilt, or that there is some kind of lag that requires investigation.</p>

<h1>How Can We Control Instances?</h1>

<p>Since the instance monitors a port and runs to mediate database connections, most operations center around controlling its operational state. As such, we have the basic controls, and a few more advanced options:</p>

<ul>
    <li><b>Start:</b> Start an offline instance. If the instance is already running, nothing will happen.</li>
    <li><b>Stop:</b> Stop an online instance. If the instance is already offline, nothing will happen. This selection always uses the "fast" shutdown option, which cancels any in-progress transactions. Doing this prevents interminable shutdown requests, since some transactions may be idle or otherwise held in such a way they would not normally be released without direct intervention.</li>
    <li><b>Restart:</b> Stop, and then start an instance. As may be expected, a previously stopped instance will simply be started.</li>
    <li><b>Reload:</b> Reloading an instance merely causes it to re-read configuration (<code>postgresql.conf</code>) and authentication (<code>pg_hba.conf</code>) files and activate any applicable changes. Not all configuration settings can be modified while the system is running, so a full restart is required in some cases. For a full list of available options, please refer to the <a href="http://www.postgresql.org/docs/current/static/runtime-config.html">official documentation</a>.</li>
    <li><b>Promote:</b> Promote a herd follower to read/write status. Unlike the Disaster Recovery menu, promoting an instance does not affect the rest of the cluster or make it a new cluster leader. Promotions can be transient for diagnostic purposes, for example. In such a case, the instance would then be eligible for subsequent demotion.</li>
    <li><b>Demote:</b> Revert a read/write instance back into a standard replica following the current herd leader. Again, this is primarily designed to convert a previously promoted instance back into a standard replica. There are checks in place to prevent accidentally demoting the herd's primary leader.</li>
    <li><b>Rebuild:</b> Occasionally, an instance will fall behind the herd leader in such a way its data is no longer current. The only way to fix this is to "rebuild" the instance. This stops the instance, syncs its data with the herd leader, and restarts it. This can also be used to initialize a newly provisioned instance on an empty server.</li>
</ul>

{% endblock %}
