{% extends "admin/haas/help.html" %}

{% block content %}
<h1>What is a Server?</h1>

<p>A server is a plot of land where a member of a Postgres database herd can live. In essence, it's a generic container that one or more herds might use to host a herd member. It must exist within a system environment and carry a label, but is otherwise unremarkable.</p>

<p>This structure is by design to encourage viewing servers as interchangeable blocks that are not especially remarkable when compared to other blocks. This sets the database herd itself as the central focus, while the server is merely a host to ensure its survival.</p>

{% endblock %}
