<p>EDB passwords must obey the following stipulations:</p>

<ul>
    <li>Must be at least eight (8) characters in length.</li>
    <li>Must include three or more of these rules:
        <ul>
            <li>Contain at least one lowercase letter.</li>
            <li>Contain at least one uppercase letter.</li>
            <li>Contain at least one number.</li>
            <li>Contain at least one symbol.</li>
        </ul>
    </li>
</ul>

<form action="{% url 'db_user:index' %}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
<table class="form">
{{ form }}
<tr>
    <th>&nbsp;</th>
    <td><input class="submit" type="submit" value="Change Password" /></td>
</tr>
</table>
<br />
</form>
