<h2>Password Successfully Changed</h2>

<p>Your new password is: <b>{{ form.newpw.value }}</b></p>

<p>Please make a note of the password listed above. If you use pgAdmin as your primary database interface, it will save this as your new password the first time you enter it, but you may need to disconnect or close pgAdmin first.</p>

<p>If you have any problems connecting to our EDB systems, please contact a member of the <a href="http://confluence.peak6.net:8082/display/OH/OH+DBA+Team">OptionsHouse DBA Team</a>, or contact the team via email at <a href="mailto:oh-dbas@optionshouse.com">oh-dbas@optionshouse.com</a>.</p>
